.our-team{
    margin-top: 150px;
}
.our-team .section-title{
    color:#333333;
    font-size: 38px;
    font-weight: 400;
}
.our-team .our-team-line{
    width: 70px;
    background: rgb(212, 48, 49);
    height: 2px;
    border: rgb(51, 51, 51);
    margin-left: 3px;
}
.our-team .section-title p{
    width: 390px;
    text-align: unset!important;
    font-size: 15px!important;
}